@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'Inter';
  font-style: black;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ag-helvetica.woff2') format('woff2')
}


:root {
  --orange: #bf7506;
  --orange-2: #dd9c3c;
  --black: #000;
  --grey: #83807c;
  --light-grey: #e0dedc;
  --white: #fff;
}


html {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%; /*10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 32rem;
  min-height: 100vh;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: var(--black);
  background-color: var(--white);
}


img,
svg {
  /* display: block;
  max-width: 100%;
  height: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

button, input {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  height: 100%;
  max-width: 128rem;
  width: 100%;
  padding: 0 20.5rem;
  margin: 0 auto;
}

.list-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  row-gap: 0.4rem;
  margin-bottom: 1.6rem;
}

.item-link {
  font-size: 1.2rem;
  outline: none;
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid var(--orange-2);
  border-radius: 0.4rem;
}


/* header */

.header {
  padding: 4rem 0;
  margin-bottom: 3.4rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 2.5rem;
  height: 1.6rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.nav__item {
  line-height: 1.5;
  color: var(--orange);
}

.nav__item.active {
  font-weight: 700;
}

/* hero */

.hero {
  margin-bottom: 8.2rem;
}

.hero__wrapper {
  display: flex;
  gap: 2.7rem;
}

.hero__img {
  width: 21.2rem;
  height: 24rem;
}

.hero__strong {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--orange);
  margin-bottom: 0.8rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: var(--orange);
  max-width: 50rem;
  width: 100%;
  margin-bottom: 2.4rem;
}

.hero__title span {
  display: block;
  color: var(--black)
}

.hero__social-block {
  display: flex;
  justify-content: space-between;
}

.hero__social-list {
  display: flex;
  gap: 0.8rem;
}

.hero__social-img {
  width: 2.4rem;
  height: 2.4rem;
}

.hero__social-link-download {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  max-width: 17.9rem;
  width: 100%;
}

.hero__social-link-download::after {
  content: '';
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 17.9rem;
  top: 3.5rem;
  background-color: var(--orange);
}

.hero__social-link-download svg {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

/* portfolio */

.portfolio {
  margin-bottom: 8.5rem;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--orange);
  margin-bottom: 3.2rem;
}

.portfolio__block-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
}

.porfolio__card-imj {
  display: block; 
  width: 100%;
  height: 29.9rem;
  margin-bottom: 1.6rem;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: var(--orange);
  margin-bottom: 0.8rem;
}

/* .portfolio__list-tag {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}

.portfolio__item-link {
  font-size: 1.2rem;
  outline: none;
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid var(--orange-2);
  border-radius: 0.4rem;
} */

.portfolio__descr {
  margin-bottom: 1.7rem;
}

.portfolio__links {
  display: flex;
  gap: 2.5rem;
  margin-top: auto;
}

.portfolio__item-tag {
  margin-bottom: 0.6rem;
}

.portfolio__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-weight: 700;
}

.portfolio__link::after {
  content: '';
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 7.6rem;
  top: 3.5rem;
  background-color: var(--orange);
}

.portfolio__link svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* developer */

.developer__img {
  width: 36rem;
  height: 44rem;
  border-radius: 2rem;
  flex-shrink: 0;
  object-fit: cover;
}

.developer {
  margin-bottom: 12rem;
}

.developer__wrapper {
  display: flex;
  gap: 5.6rem;
  margin-bottom: 4rem;
}

.developer__hello {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-bottom: 0.4rem;
}

.developer__name {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--orange);
  margin-bottom: 1.6rem;
}

.developer__descr {
  margin-bottom: 1.6rem;
}

.developer__descr-second {
  margin-bottom: 3.2rem;
}

.developer__motto {
  display: block;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--orange-2);
  margin-bottom: 1.6rem;
}

.developer__sign {
  width: 20rem;
  height: 7.5rem;
}

.developer__tag-text {
  display: flex;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.3rem;
  gap: 0.6rem;
}

.developer__item-tag {
  margin-bottom: 0.8rem;
}

.developer__item-link {
  font-size: 1.6rem;
}

/* feedback */

.feedback {
  margin-bottom: 16rem;
  overflow: hidden;
  /* background-image: url(/image/hand.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 36.3rem; */
}

/* .feedback .container {
  padding: 0;
    background-image: url(/image/hand.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 36.3rem;
} */

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback__wrapper-img {
  position: absolute;
  top: 0;
  width: 100%;
  right: -61.9%;
}


.feedback__title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  max-width: 43.5rem;
  width: 100%;
}

.feedback__form-fieldset {
  padding: 0;
  border: transparent;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.feedback__form-group {
  position: relative;
  padding-top: 0.9rem;
}

.feedback__form-label {
  position: absolute;
  top: 0;
  left: 1.6rem;
  color: var(--grey);
  background: var(--white);
  padding: 0 0.8rem;
}

.feedback__form-input {
  border: 0.3rem solid var(--light-grey);
  border-radius: 0.4rem;
  max-width: 43.5rem;
  width: 100%;
  height: 5.6rem;
  background-color: var(--white);
}

.feedback__form-input-textarea {
  min-height: 14rem;
}

.feedback__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  height: 4rem;
}

.feedback__btn::after {
  content: '';
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 11.2rem;
  top: 3.5rem;
  background-color: var(--orange);
}

.feedback__btn svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* footer */

.footer__wrapper {
  text-align: center;
}

.foooter__like {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey);
  margin-bottom: 1.6rem;
}


/* media */

@media (width <=1140px) {
  .container {
    padding: 0 7rem;
  }

  .developer__wrapper {
    gap: 3rem;
  }

  .feedback__wrapper-img {
    right: -50%;
  }
}

@media (width <=900px) {
  .container {
    padding: 0 2rem;
  }

  .developer__wrapper {
    gap: 2rem;
  }

  .developer__img {
    width: 25rem;
  }

  .feedback {
    margin-bottom: 6rem;
  }

  .feedback__wrapper-img {
    display: none;
  }
}

@media (width <=600px) {
  .header {
    margin-bottom: 0;
  }

  .hero {
    margin-bottom: 3rem;
  }

  .hero__wrapper {
    gap: 1rem;
  }

  .hero__strong {
    font-size: 3.5rem;
  }

  .hero__title {
    font-size: 1.6rem;
  }

  .hero__social-link-download {
    font-size: 1.2rem;
  }
  
  .hero__social-link-download::after {
    height: 0.2rem;
    width: 13.9rem;
    top: 3.5rem;
  }

  .developer__wrapper {
    flex-direction: column;
  }

  .developer__img {
    width: 100%;
  }

  .portfolio__title {
    font-size: 3.5rem;
  }

  .portfolio__block-cards {
    gap: 3rem;
  }

  .developer {
    margin-bottom: 6rem;
  }
}

@media (width <=450px) {

  .nav__list {
    gap: 1rem;
  }

  .nav__item {
    font-size: 1.2rem;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .hero__img {
    width: 100%;
  }

  .portfolio {
    margin-bottom: 4.2rem;
  }

  .portfolio__block-cards {
    grid-template-columns: 1fr;
  }

  .portfolio__title {
    font-size: 3.5rem;
    margin-bottom: 1.6rem;
  }
}


